.dashboard-card {
background: linear-gradient(to left, #3C0B8C, #D89CF7) !important;
border-radius: 0 35px 35px 35px !important;
}
.equal-box {
    background: linear-gradient(to bottom left, #1D0B8B, #D89CF7) !important;
    border-radius: 0 35px 35px 35px !important;
    width: 490px;
    height: 340px !important;
}
.dashboard-card-slim {
    background: linear-gradient(to bottom left, #1D0B8B, #D89CF7) !important;
}
.btn {

}