.navbar-img-platform {
    width: 170px;
    height: 37px;
    alt: "Logo";
    margin: 4px;
}
.nav-button-platform{
    color: black;
    transition: color 0.3s
}
.nav-button-platform:hover {
    color: #9833FF; /* Mouse üzerine gelindiğinde renk */
}
.nav-dropdown-dark-example-platform .dropdown-toggle::after {
    display: none;
}
.nav-dropdown-dark-exampl-platform .dropdown-menu {
    transform: translateY(-20px);
    margin-left: 20px;
}
