.middle-banner-2{
    display: flex;
    justify-content: flex-start; /* Sola hizala */
    align-items: center;
    padding-left: 400px; /* İçeriği sola kaydırmak için */
    width: 100%;
    height: 300px;
    background-image: url('../../Assets/Images/katalog-filtre-arka.svg');
    background-size: cover;
    background-position: center;
}
.middle-banner {
    display: flex;
    justify-content: flex-center; /* Sola hizala */
    align-items: center;
    width: 97%;
    height: 200px;
    background-image: url('../../Assets/Images/katalog-filtre-arka.svg');
    background-size: cover;
    background-position: center;
    border-radius: 40px;
  }